body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../By_Date_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:161px;
    width:766px;
    height:819px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:772px;
    height:825px;
}

.u1 {
    position:absolute;
    left:2px;
    top:402px;
    width:762px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:767px;
    height:977px;
    overflow:hidden;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:767px;
    height:977px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    -ms-overflow-y:hidden;
}

.u3_normal {
    background-image: url('../By_Date_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:6500px;
    height:976px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:6506px;
    height:982px;
}

.u4 {
    position:absolute;
    left:2px;
    top:480px;
    width:6496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../By_Date_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:6500px;
    height:160px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:6506px;
    height:166px;
}

.u6 {
    position:absolute;
    left:2px;
    top:72px;
    width:6496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../By_Date_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:230px;
    top:42px;
    width:190px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:86px;
}

.u8 {
    position:absolute;
    left:2px;
    top:11px;
    width:186px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../By_Date_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u9 {
    position:absolute;
    left:818px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u10_normal {
    background-image: url('../By_Date_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:868px;
    top:42px;
    width:309px;
    height:80px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:315px;
    height:86px;
}

.u11 {
    position:absolute;
    left:2px;
    top:11px;
    width:305px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../By_Date_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:1765px;
    top:42px;
    width:217px;
    height:80px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:86px;
}

.u13 {
    position:absolute;
    left:2px;
    top:11px;
    width:213px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../By_Date_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:2501px;
    top:42px;
    width:217px;
    height:80px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:86px;
}

.u15 {
    position:absolute;
    left:2px;
    top:11px;
    width:213px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../By_Date_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u16 {
    position:absolute;
    left:1712px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u17_normal {
    background-image: url('../By_Date_files/u12_normal.png');
}

.u17_container {
    position:absolute;
    left:3278px;
    top:42px;
    width:217px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:11px;
    width:213px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../By_Date_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u19 {
    position:absolute;
    left:3228px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u20_normal {
    background-image: url('../By_Date_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:4075px;
    top:42px;
    width:217px;
    height:80px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:86px;
}

.u21 {
    position:absolute;
    left:2px;
    top:11px;
    width:213px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../By_Date_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u22 {
    position:absolute;
    left:4025px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u23_normal {
    background-image: url('../By_Date_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:4966px;
    top:42px;
    width:233px;
    height:82px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:88px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:229px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_container {
    position:absolute;
    left:818px;
    top:420px;
    width:500px;
    height:332px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:332px;
}

.u26 {
    position:absolute;
    left:2px;
    top:158px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:1712px;
    top:336px;
    width:372px;
    height:500px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:372px;
    height:500px;
}

.u28 {
    position:absolute;
    left:2px;
    top:242px;
    width:368px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_container {
    position:absolute;
    left:2451px;
    top:336px;
    width:395px;
    height:500px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:395px;
    height:500px;
}

.u30 {
    position:absolute;
    left:2px;
    top:242px;
    width:391px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:3228px;
    top:336px;
    width:418px;
    height:500px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:418px;
    height:500px;
}

.u32 {
    position:absolute;
    left:2px;
    top:242px;
    width:414px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:4025px;
    top:378px;
    width:500px;
    height:415px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:415px;
}

.u34 {
    position:absolute;
    left:2px;
    top:200px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_container {
    position:absolute;
    left:4906px;
    top:336px;
    width:380px;
    height:500px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:380px;
    height:500px;
}

.u36 {
    position:absolute;
    left:2px;
    top:242px;
    width:376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_container {
    position:absolute;
    left:185px;
    top:336px;
    width:252px;
    height:500px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:500px;
}

.u38 {
    position:absolute;
    left:2px;
    top:242px;
    width:248px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_line {
    background-image: url('../By_Date_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u39 {
    position:absolute;
    left:175px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u40_line {
    background-image: url('../By_Date_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u40 {
    position:absolute;
    left:2451px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u41_line {
    background-image: url('../By_Date_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u41 {
    position:absolute;
    left:4906px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u42_normal {
    background-image: url('../By_Date_files/u23_normal.png');
}

.u42_container {
    position:absolute;
    left:5701px;
    top:42px;
    width:233px;
    height:82px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:239px;
    height:88px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:229px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_container {
    position:absolute;
    left:5648px;
    top:336px;
    width:500px;
    height:499px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:499px;
}

.u45 {
    position:absolute;
    left:2px;
    top:242px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../By_Date_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:72px;
}

.u46 {
    position:absolute;
    left:5641px;
    top:42px;
    width:10px;
    height:72px;
    
}

.u47_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:185px;
    top:846px;
    width:16px;
    height:16px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:210px;
    top:850px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u50_container {
    position:absolute;
    left:818px;
    top:770px;
    width:16px;
    height:16px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:843px;
    top:772px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u53_container {
    position:absolute;
    left:1712px;
    top:850px;
    width:16px;
    height:16px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:1737px;
    top:854px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u56_container {
    position:absolute;
    left:2451px;
    top:854px;
    width:16px;
    height:16px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:2476px;
    top:858px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u59_container {
    position:absolute;
    left:3228px;
    top:858px;
    width:16px;
    height:16px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:3253px;
    top:862px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u62_container {
    position:absolute;
    left:4025px;
    top:817px;
    width:16px;
    height:16px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:4050px;
    top:821px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u65_container {
    position:absolute;
    left:4906px;
    top:854px;
    width:16px;
    height:16px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:4931px;
    top:858px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../By_Date_files/u47_normal.png');
}

.u68_container {
    position:absolute;
    left:5648px;
    top:852px;
    width:16px;
    height:16px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:12px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:5673px;
    top:856px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../By_Date_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:5px;
    width:26px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u73 {
    position:absolute;
    left:139px;
    top:756px;
    width:192px;
    height:271px;
    overflow:hidden;
}

#pd0u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:271px;
    
}

#u74 {
    position:absolute;
    left:0px;
    top:0px;
    width:191px;
    height:293px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u75_normal {
    background-image: url('../By_Date_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:14px;
    top:219px;
    width:94px;
    height:50px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:56px;
}

.u76 {
    position:absolute;
    left:2px;
    top:11px;
    width:90px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../By_Date_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:14px;
    top:29px;
    width:159px;
    height:190px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:196px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:155px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_line {
    background-image: url('../By_Date_files/u82_line.png');
}

.u82_line {
    position:absolute;
    left:0px;
    top:4px;
    width:140px;
    height:3px;
}

.u82 {
    position:absolute;
    left:23px;
    top:87px;
    width:140px;
    height:10px;
    
}

.u83_line {
    background-image: url('../By_Date_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:0px;
    top:4px;
    width:140px;
    height:3px;
}

.u83 {
    position:absolute;
    left:23px;
    top:153px;
    width:140px;
    height:10px;
    
}

#u84 {
    position:absolute;
    left:385px;
    top:695px;
    width:252px;
    height:332px;
    overflow:hidden;
}

#pd0u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:332px;
    
}

#u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:251px;
    height:378px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u86_normal {
    background-image: url('../By_Date_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:48px;
    top:281px;
    width:110px;
    height:50px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:56px;
}

.u87 {
    position:absolute;
    left:2px;
    top:11px;
    width:106px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../By_Date_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:48px;
    top:26px;
    width:159px;
    height:254px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:260px;
}

.u89 {
    position:absolute;
    left:2px;
    top:119px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u90 {
    position:absolute;
    left:63px;
    top:32px;
    width:118px;
    height:241px;
    overflow:hidden;
}

#pd0u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:241px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u91 {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:672px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../By_Date_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:534px;
    top:976px;
    width:113px;
    height:50px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:56px;
}

.u94 {
    position:absolute;
    left:2px;
    top:17px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../By_Date_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:976px;
    width:60px;
    height:50px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:56px;
}

.u96 {
    position:absolute;
    left:2px;
    top:17px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../By_Date_files/u75_normal.png');
}

.u97_container {
    position:absolute;
    left:58px;
    top:976px;
    width:94px;
    height:50px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:56px;
}

.u98 {
    position:absolute;
    left:2px;
    top:11px;
    width:90px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../By_Date_files/u75_normal.png');
}

.u99_container {
    position:absolute;
    left:152px;
    top:976px;
    width:94px;
    height:50px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:56px;
}

.u100 {
    position:absolute;
    left:2px;
    top:11px;
    width:90px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../By_Date_files/u75_normal.png');
}

.u101_container {
    position:absolute;
    left:246px;
    top:976px;
    width:94px;
    height:50px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:56px;
}

.u102 {
    position:absolute;
    left:2px;
    top:11px;
    width:90px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../By_Date_files/u75_normal.png');
}

.u103_container {
    position:absolute;
    left:340px;
    top:976px;
    width:94px;
    height:50px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:56px;
}

.u104 {
    position:absolute;
    left:2px;
    top:11px;
    width:90px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../By_Date_files/u86_normal.png');
}

.u105_container {
    position:absolute;
    left:434px;
    top:976px;
    width:110px;
    height:50px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:56px;
}

.u106 {
    position:absolute;
    left:2px;
    top:11px;
    width:106px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_line {
    background-image: url('../By_Date_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u107 {
    position:absolute;
    left:58px;
    top:976px;
    width:10px;
    height:50px;
    
}

.u108_line {
    background-image: url('../By_Date_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u108 {
    position:absolute;
    left:147px;
    top:976px;
    width:10px;
    height:50px;
    
}

.u109_line {
    background-image: url('../By_Date_files/u109_line.png');
}

.u109_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u109 {
    position:absolute;
    left:241px;
    top:976px;
    width:10px;
    height:50px;
    
}

.u110_line {
    background-image: url('../By_Date_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u110 {
    position:absolute;
    left:333px;
    top:976px;
    width:10px;
    height:50px;
    
}

.u111_line {
    background-image: url('../By_Date_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u111 {
    position:absolute;
    left:428px;
    top:976px;
    width:10px;
    height:50px;
    
}

.u112_line {
    background-image: url('../By_Date_files/u112_line.png');
}

.u112_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:50px;
}

.u112 {
    position:absolute;
    left:539px;
    top:976px;
    width:10px;
    height:50px;
    
}

.u113_container {
    position:absolute;
    left:5px;
    top:982px;
    width:51px;
    height:35px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:35px;
}

.u114 {
    position:absolute;
    left:2px;
    top:10px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../By_Date_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:703px;
    top:538px;
    width:50px;
    height:50px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u116 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../By_Date_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:647px;
    top:974px;
    width:119px;
    height:50px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:56px;
}

.u118 {
    position:absolute;
    left:2px;
    top:11px;
    width:115px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

